@model WM2_C1.Hotel

@{
    ViewData["Title"] = "Delete";
}

<h1>Видалити</h1>

<h3>Ви впевнені, що бажаєте це видалити?</h3>
<div>
    <h4>Готель</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HotelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HotelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HotelImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HotelImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HotelDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HotelDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HotelNightPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HotelNightPrice)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="HotelId" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Повернутись до переліку</a>
    </form>
</div>
