@model IEnumerable<WM2_C1.Hotel>

@{
    ViewData["Title"] = "Index";
}

<h1>Готелі</h1>

<p>
    <a asp-action="Create">Створити новий</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HotelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelNightPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HotelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HotelImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HotelDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HotelNightPrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HotelId">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.HotelId">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.HotelId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
